div{
    color:white;
    text-align: center;
}
a{
    color: darkcyan;
    text-align:left;
}
body{
    background-color:darkgray
}
h1{
    color: black;
    font-style: oblique;
}
h2{
    text-align: left;
}